__pycache__
.DS_Store
.idea/
.ipynb_checkpoints
*.tar.gz
*.jpeg
train/
aws_cli_commands.sh
datasets/fraud-sample-data/dataset1/fraud*.csv
datasets/personalize/ml-25m/genone-scores.csv
datasets/personalize/ml-25m/genome-scores.csv
datasets/personalize/ml-25m/tags.csv
datasets/personalize/ml-25m/input/ratings.csv
